$white: #ffffff;
$landing-bg: #3f72af;
$yellow: #facb70;
$yellow-light: #ffba3b;
$green: #7fb77e;
$green-light: #c6ffab;
$black: #393e46;

$hover-box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
$active-box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 12px;

$start-btn-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  max-width: 100vw;
  min-height: 100vh;
  overflow: none;
  background-color: $landing-bg;

  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: $white;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

//! LANDING PAGE CSS

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 455px;
  font-size: 2.25rem;
  position: relative;

  &__first {
    color: $white;
    z-index: 999;
  }

  &__second {
    background-color: $yellow;
    height: 80%;
    margin-left: -35px;
    padding-left: 38px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

    display: flex;
    align-items: center;
    animation: animate 8s ease infinite;

    &--self {
      animation: displaySelf 8s ease infinite;
      position: relative;
      margin-left: -1.5px;
    }
    &--friend {
      margin-left: -77.5px;
      animation: displayFriend 8s ease infinite;
      position: relative;
    }
  }
}

.buttons {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 60px;
  margin-top: -20rem;

  &__btn {
    width: 27.5rem;
    height: 75px;
    color: $white;
    font-weight: 600;

    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    cursor: pointer;
    border-style: none;
    box-shadow: $active-box-shadow;
    border-radius: 5px;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      box-shadow: $hover-box-shadow;
      transform: translateY(-3px);
    }

    &:active {
      box-shadow: $active-box-shadow;
      transform: translateY(1px);
    }

    &:nth-child(1) {
      background-color: $yellow;
    }
    &:nth-child(2) {
      background-color: $green;
      display: inline;
    }
  }
}

.title-escape {
  animation: titleEscape 1.5s ease-in-out;
}

.right-btn-escape {
  animation: rightEscape 1.5s ease-in-out;
}

.left-btn-escape {
  animation: leftEscape 1.5s ease-in-out;
}

//!  CREATE A QUIZ CSS

.create {
  width: 100%;
  height: 100vh;
  display: none;

  &__hquestions {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &--title {
      font-size: 2.25rem;

      max-width: 600px;
      text-align: center;
    }

    &--btns {
      max-width: 600px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 50px;
    }

    &--explanation {
      font-size: 1.4rem;
      margin-top: 20px;
    }
  }

  &__btn {
    width: 20.5rem;
    height: 75px;
    color: #393e46;
    font-weight: 600;
    background-color: $green-light;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    cursor: pointer;
    border-style: none;
    box-shadow: $active-box-shadow;
    border-radius: 5px;
    margin-top: 120px;
    transition: all 0.2s ease;

    &:hover {
      box-shadow: $hover-box-shadow;
      transform: translateY(-3px);
    }

    &:active {
      box-shadow: $active-box-shadow;
      transform: translateY(1px);
    }
  }
}

.choose-btn {
  width: 60px;
  height: 60px;
  font-size: 1.75rem;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 2.5px;
  font-weight: 400;
  cursor: pointer;
  box-shadow: $active-box-shadow;
  transition: box-shadow 0.2s ease, transform 0.2s ease;

  &:hover {
    box-shadow: $hover-box-shadow;
    transform: translateY(-3px);
  }

  &:active {
    box-shadow: $active-box-shadow;
    transform: translateY(1px);
  }
}

.user-value {
  height: 60px;
  width: 110px;
  font-size: 1.75rem;
  font-weight: 400;
  text-align: center;
  border-style: none;
  outline: none;
  border-radius: 2.5px;
  box-shadow: $active-box-shadow;

  &:focus,
  &:active {
    border: 2px solid $green-light;
    box-shadow: $hover-box-shadow;
    transition: all 0.2s ease;
  }
}

.createQuiz {
  background-color: $green;
  transition: background-color 1s ease;
}

//!  TAKE A QUIZ CSS

.take {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 85px;
  display: none;
  padding: 30px 0px 80px 0px;

  &__title {
    font-size: 2.25rem;
    height: 15%;
  }

  &__showcase {
    width: 90%;
    height: 85%;
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;

    &--con {
      height: 375px;
      max-width: 275px;
      margin: 0px 30px;
      position: relative;
      align-self: center;
      box-shadow: $active-box-shadow;
      transform: rotateY(0deg);
      display: flex;
      justify-content: center;

      &_top {
        width: 80%;
        position: absolute;
        z-index: -2;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2px;
        background-color: $yellow-light;
        padding: 5px 0px;
        top: 0px;
        transition: all 0.4s ease-out;

        & > h3 {
          font-size: 1.8rem;
          color: $white;
          font-weight: 500;
        }
        & > h6 {
          font-size: 1.3rem;
          color: $white;
          font-weight: 400;
        }
      }
      &_bottom {
        width: 90%;
        position: absolute;
        z-index: -2;
        bottom: 0px;
        display: flex;
        justify-content: center;
        transition: all 0.4s ease-out;

        &_btn {
          padding: 9px 30.5px;
          font-size: 1.5rem;
          letter-spacing: 1.5px;
          font-weight: 500;
          text-transform: uppercase;
          border: none;
          color: $white;
          cursor: pointer;
          background-color: $yellow-light;
          transition: box-shadow 0.5s ease, background-color 0.3s ease,
            color 0.3s ease;

          &:hover {
            background-color: $white;
            color: $yellow-light;
            font-weight: 800;
          }
        }
      }

      &:hover .take__showcase--con_overlay {
        opacity: 0;
      }

      &:hover .take__showcase--con_top {
        top: -60px;
      }

      &:hover .take__showcase--con_bottom {
        bottom: -40px;
      }

      &:hover .take__showcase--con_bottom .take__showcase--con_bottom_btn {
        box-shadow: $active-box-shadow;
      }

      &_overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #393e46;
        opacity: 0.4;
        transition: all 0.5s ease;
      }

      &_img {
        width: 100%;
        height: 100%;
      }

      &:nth-child(2) {
        align-self: flex-start;
      }
    }
  }
}

.takeQuiz {
  background-color: $yellow;
  transition: background-color 0.75s ease;
}

//! START QUIZ CSS

.start {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 75px;
  color: $black;
  display: none;

  &__title {
    font-size: 1.4rem;
    text-align: center;
    max-width: 900px;

    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--qnum {
      color: #797979;
      font-size: 1.3rem;
      margin-top: 5px;
      font-weight: 400;
    }
  }
  &__answers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;

    &--btn {
      border: none;
      width: 300px;
      box-shadow: $start-btn-shadow;
      font-size: 1.75rem;
      padding: 20px 30px;
      background: $white;
      color: currentColor;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.2s ease;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      word-break: break-all;

      &:hover {
        transform: translateY(-2px);
      }

      &:active {
        transform: translateY(2px);
        transition: all 0.2s ease;
      }
      & > span {
        pointer-events: none;
      }
    }
  }
  &__btn {
    width: 350px;
    padding: 20px 0px;

    color: $black;
    font-weight: 600;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    border-style: none;
    box-shadow: $start-btn-shadow;
    border-radius: 5px;
    background-color: $white;
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__next {
    background-color: $green;
    color: $white;
    display: none;
  }

  &__fail {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    display: flex;
    gap: 50px;
    justify-content: space-around;

    display: none;
  }

  &__try {
    background-color: #ff1e1e;

    width: 200px;
    color: $white;
    box-shadow: $active-box-shadow;
  }

  &__home {
    background-color: $landing-bg;

    color: $white;
    width: 200px;
    box-shadow: $active-box-shadow;
  }
}

.write {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  display: none;

  &__title {
    font-size: 2.25rem;
  }
  &__question {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &--title {
      // border: 1px solid blue;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > h3 {
        font-size: 2rem;
      }
      & > h6 {
        font-size: 1.3rem;
        font-weight: 700;
      }
    }

    &--input {
      font-size: 1.3rem;
      padding: 0px 15px;
      outline-style: none;
      border-radius: 5px;
      border: none;
      width: 62rem;
      height: 5rem;
      box-shadow: $start-btn-shadow;
    }
  }

  &__answers {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & > h3 {
      font-size: 2rem;
    }

    &--con {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;

      &-btn {
        border: none;
        outline: none;
        width: 300px;
        box-shadow: $start-btn-shadow;
        font-size: 1.25rem;
        padding: 20px 15px;

        border-radius: 5px;
        transition: all 0.2s ease;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &::placeholder {
          display: flex;
          justify-content: center;
          color: rgb(110, 109, 109);
          font-weight: 400;
          font-size: 1.5rem;
        }
      }
    }
  }

  &__correct {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    width: 62rem;
    gap: 10px;

    &-title {
      // border: 1px solid blue;

      & > h3 {
        font-size: 2.3rem;
      }
    }
    &-answers {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;

      &--btn {
        justify-self: center;

        border: none;
        outline: none;
        background: $white;

        border-radius: 5px;
        font-size: 1.75rem;
        padding: 12.5px 20px;
        box-shadow: $start-btn-shadow;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          box-shadow: $hover-box-shadow;

          transform: translateY(-1.5px);
        }
        &:active {
          transform: translateY(2px);
        }
      }
    }
  }
  &__submit {
    width: 17.5rem;
    height: 65px;
    color: #393e46;
    font-weight: 600;
    background-color: $green-light;
    font-size: 1.75rem;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    cursor: pointer;
    border-style: none;
    box-shadow: $active-box-shadow;
    border-radius: 5px;
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      box-shadow: $hover-box-shadow;
      transform: translateY(-3px);
    }

    &:active {
      box-shadow: $active-box-shadow;
      transform: translateY(1px);
    }
  }
  &__start {
    width: 17.5rem;
    height: 65px;
    color: #393e46;
    font-weight: 600;
    background-color: $green-light;
    font-size: 1.75rem;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    cursor: pointer;
    border-style: none;
    box-shadow: $active-box-shadow;
    border-radius: 5px;
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    &:hover {
      box-shadow: $hover-box-shadow;
      transform: translateY(-3px);
    }

    &:active {
      box-shadow: $active-box-shadow;
      transform: translateY(1px);
    }
  }
}

.answer {
  pointer-events: none;
}
.start-quiz-bg {
  background-color: $white;
  transition: all 0.75s ease;
}

.active {
  background-color: #7fb77e;
  color: $white;
  transition: all 0.3s ease;
}
.wrong-bg {
  background-color: #f96666;
}
.correct-answer {
  background-color: #c6ffab;
  transition: all 0.5s ease;
}
.wrong-answer {
  background-color: #ff1e1e;
  color: $white;
  transition: 0.5s ease;
}

.quiz-span {
  margin-right: 15px;
  font-weight: 700;
}
.fill-question {
  border: 1.5px solid #f96666;
  transition: all 0.4s ease;
}
//!  ANIMATIONS

//? TITLE ANIMATION

@keyframes animate {
  0% {
    width: 0px;

    background-color: $yellow;
  }
  2% {
  }
  25% {
    width: 160px;
  }
  43% {
    background-color: $yellow;
  }
  50% {
    width: 0px;
    background-color: $green;
  }
  75% {
    width: 250px;
  }
  78% {
    width: 250px;
  }
  93% {
    background-color: $green;
  }
  100% {
    width: 0px;
  }
}

@keyframes displaySelf {
  0% {
    color: $white;
    z-index: 999;
  }
  25% {
    color: $white;
    z-index: 999;
  }
  48% {
    color: $white;
    z-index: 1;
  }
  50% {
    color: $green;
    z-index: 1;
  }
  90% {
    color: $green;
    z-index: 1;
  }
  95% {
    color: $white;
    z-index: 999;
  }
  100% {
    color: $white;
    z-index: 999;
  }
}

@keyframes displayFriend {
  0% {
    color: $yellow;
    z-index: 1;
  }
  25% {
    color: $yellow;
    z-index: 1;
  }
  48% {
    color: $yellow;
    z-index: 1;
  }
  50% {
    color: $white;
    z-index: 999;
  }
  90% {
    color: $white;
    z-index: 999;
  }
  95% {
    color: $white;
    z-index: 999;
  }
  100% {
    color: $yellow;
    z-index: 1;
  }
}

//! BUTTON CLICKED ANIMATION

@keyframes titleEscape {
  0% {
    transform: translateY(0px);
    -webkit-filter: blur(0.75px);
  }

  25% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(-1000px);
    display: none;
  }
}

@keyframes rightEscape {
  0% {
    transform: translateX(0px);
    -webkit-filter: blur(0.75px);
  }

  25% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(1500px);
    display: none;
  }
}

@keyframes leftEscape {
  0% {
    transform: translateX(0px);
    -webkit-filter: blur(0.75px);
  }

  25% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(-1500px);
    display: none;
  }
}

@media screen and (max-width: 715px) {
  .start {
    &__answers {
      grid-template-columns: 1fr;
      gap: 40px;
    }
  }
  .write {
    &__question {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding: 0px 10px;

      &--title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        & > h6 {
          font-weight: 400;
        }
      }

      &--input {
        padding: 0px 15px;
        max-width: 42rem;
      }
    }

    &__answers {
      display: flex;
      flex-direction: column;
      align-items: center;

      gap: 10px;

      & > h3 {
        font-size: 2rem;
      }

      &--con {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;

        &-btn {
          width: 300px;
        }
      }
    }
    &__correct {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 32rem;
      gap: 10px;

      &-answers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 1.5rem;
    width: 100%;

    &__second {
      &--friend {
        margin-left: -50px;
      }
    }
  }

  .take {
    &__title {
      font-size: 1.75rem;
    }
  }
  .start {
    &__title {
      height: 10%;
      font-size: 1rem;
      padding: 0px 20px;
      justify-content: center;

      &--qnum {
        margin-top: 5px;

        font-size: 1.3rem;

        font-weight: 400;
      }
    }

    &__answers {
      grid-template-columns: 1fr;
      gap: 40px;

      &--btn {
        width: 250px;
        font-size: 1.55rem;
        padding: 20px 20px;
      }
    }
    &__btn {
      width: 85%;
    }
    &__fail {
      justify-content: center;
      gap: 20px;
    }

    &__try {
      width: 150px;
      font-size: 1.4rem;
    }

    &__home {
      width: 150px;
      font-size: 1.4rem;
    }
  }
  .create {
    &__hquestions {
      &--title {
        font-size: 1.5rem;
      }
    }
  }
  .write {
    &__question {
      &--input {
        padding: 0px 15px;
        max-width: 30rem;
      }
    }
    &__answers {
      &--con {
        &-btn {
          width: 28rem;
        }
      }
    }
  }

  @keyframes animate {
    0% {
      width: 0px;

      background-color: $yellow;
    }
    2% {
    }
    25% {
      width: 130px;
    }
    43% {
      background-color: $yellow;
    }
    50% {
      width: 0px;
      background-color: $green;
    }
    75% {
      width: 187.5px;
    }
    78% {
      width: 187.5px;
    }
    93% {
      background-color: $green;
    }
    100% {
      width: 0px;
    }
  }
}
